p,
ul {
  margin: 0 !important;
}

.ant-avatar {
  cursor: pointer;
  transition: 0.3s;
}

.ant-menu {
  border-radius: 8px;
}

.custom-dropdown.ant-dropdown-menu {
  background: #2a2a2a !important;
}
.custom-dropdown.ant-dropdown-menu .ant-dropdown-menu-item {
  background: #2a2a2a !important;
  color: #fff !important;
}
.custom-dropdown.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background: #333 !important;
}
.custom-dropdown.ant-dropdown-menu .ant-dropdown-menu-item-selected {
  background: #2f2f2f !important;
}

.ant-modal-content {
  background: #fff !important;
}

.ant-modal-header {
  background: #fff !important;
  border-bottom: 1px solid #3a3a3a !important;
}

.ant-modal-title {
  font-size: 24px !important;
  color: #212529 !important;
  font-weight: 700 !important;
}

.ant-avatar {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ant-input,
.ant-select-selector {
  color: #212529 !important;
  border: none !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.ant-btn {
  color: #e0e0e0 !important;
  box-shadow: none;
  background-color: #b22222 !important;
  border: none;
  gap: 5px;
}

.ant-btn:hover {
  color: #e0e0e0 !important;
  background-color: #a52a2a !important;
}

.ant-input::placeholder {
  color: #b0afaf !important;
}

.ant-select-selection-placeholder {
  color: #b0afaf !important;
}

.ant-select-item-option-active,
.ant-select-item-option-selected {
  background-color: #ff8c00 !important;
  color: #000435 !important;
}

.ant-btn-primary {
  background-color: #ff8c00 !important;
  border-radius: 12px;
  font-weight: 600;
  color: white !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #ffa500 !important;
  color: white !important;
}

.ant-spin-dot {
  width: 30px !important;
  height: 30px !important;
}

.ant-spin-dot-item {
  background-color: #ff8c00 !important;
}

.ant-spin-blur::after {
  background: #fcc98c !important;
}

.ant-picker {
  background-color: #ffff !important;
  border-color: #ffff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  color: #212529 !important;
}

.ant-picker-input > input {
  color: #212529 !important;
}

.ant-picker-input > input::placeholder {
  color: #bfbfbf !important;
}

.ant-picker-suffix,
.ant-picker-clear {
  color: #8c8c8c !important;
}

.custom-menu-item {
  background-color: #fff !important;
  color: #212529 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.custom-menu-item .anticon,
.custom-menu-item span {
  color: #212529 !important;
}

.custom-menu-item:hover {
  background-color: #ff8c00 !important;
  color: #fff !important;
}

.custom-menu-item:hover .anticon,
.custom-menu-item:hover span {
  color: #fff !important;
}

.ant-menu-item-selected.custom-menu-item {
  background-color: #ff8c00 !important;
  color: #fff !important;
}

.ant-menu-item-selected.custom-menu-item .anticon,
.ant-menu-item-selected.custom-menu-item span {
  color: #fff !important;
}

.ant-pagination {
  display: flex;
  justify-content: end;
  margin-top: 60px !important;
  user-select: none;
}

.ant-pagination-item {
  background-color: #2a2a2a !important;
  border: none;
  min-width: 36px;
  height: 36px;
  line-height: 36px;
  font-weight: 600;
  border-radius: 6px;
  margin: 0 4px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.ant-pagination-item:hover {
  background-color: #121212;
  color: #ffd700;
}

.ant-pagination-item-active {
  background-color: white !important;
  border: none !important;
}

.anticon svg {
  fill: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item a {
  color: white !important;
  font-weight: 700;
}

.ant-pagination-item-active a {
  color: black !important;
  font-weight: 700;
}

.ant-pagination-prev,
.ant-pagination-next {
  background-color: white;
  border-radius: 6px;
}

.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  background-color: #ffd700;
}

.ant-pagination-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: white !important;
}

.ant-pagination-options-quick-jumper,
.ant-pagination-options-size-changer {
  display: none !important;
}

.ant-btn .ant-btn-loading-icon .anticon {
  color: white !important;
}

.ant-btn .ant-btn-loading-icon svg {
  fill: white !important;
}

.ant-message-success .anticon svg path {
  fill: #52c41a !important;
}

.ant-message-error .anticon svg path {
  fill: #ff4d4f !important;
}

.ant-message-warning .anticon svg path {
  fill: #faad14 !important;
}

.ant-select-clear {
  background: none !important;
}

.ant-select-clear:hover {
  background: none !important;
}

.ant-form-item-label label {
  color: #212529 !important;
  font-size: 16px !important;
  font-weight: 500;
}
